<!DOCTYPE html>
<html>
<head>
	<title>Perustiedot </title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body id="grad">
	<div class="jumbotron">
		<h1 class="text-center" style="font-size: 5.5em; margin: 30px 0px 30px 0px; color: black;">Anna perustietosi</h1>
	</div>

	<form data-role="validator" class="container userData" data-on-submit="return false">
			<div class="input-control text row" data-role="keypad">
					<input
							data-validate-func="max, required"
							data-validate-arg="100"
							data-validate-hint="Invalid or no value!"
							type="text" placeholder="Ikä" id="age">
					<span class="input-state-error mif-warning"></span>
					<span class="input-state-success mif-checkmark"></span>
			</div>
			<div class="input-control text row" data-role="keypad">
					<input type="text" id="height" placeholder="Pituus"
							data-validate-func="max, required"
							data-validate-arg="250"
							data-validate-hint="Invalid or no value!">
					<span class="input-state-error mif-warning"></span>
					<span class="input-state-success mif-checkmark"></span>
			</div>
			<div data-role="group" data-group-type="one-state" class="gender">
				<input type="button" class="button" value="Mies"/>
				<input type="button" class="button" value="Nainen"/>
		  </div>
			<div class="row" style="margin-top: 60px;">
				<div class="col-md-6"><a href="/" id="cancel"><span class="mif-chevron-thin-left"></span> Keskeytä</a></div>
				<button class="col-md-6 button next" ><a id="sendData">Seuraava <span class="mif-chevron-thin-right"></span></a></button>
			</div>
	</form>


<script src="/Metro-UI-CSS-master/build/js/metro.js"></script>
<script>
	var util = require('util')
	var exec = require('child_process').exec;

	// clicking Seuraava executes a function:
	$('#sendData').on('click', sendData);
	//reset the given variables:
	$('#cancel').on('click', resetVariables);

	// function sends user's data to the console:
	function sendData() {
  		age = document.getElementById("age").value;
  		height = document.getElementById("height").value;
  		gender = $(".active").val();

  		if (gender === "Mies") {
  			gender = 1;
  		} else if (gender === "Nainen") {
  			gender = 2;
  		} else {
  			gender = none;
  		}

  		if (age && height && age<=100 && height<=250 && gender) {
  		  exec("echo 'D4"+age+"\n' > /dev/ttyUSB0", function (error, stdout, stderr) {
  			  console.log('stdout: ' + stdout);
  			  console.log('stderr: ' + stderr);
  			  if (error !== null) {
  			    console.log('exec error: ' + error);
  			  }
  			});
  			exec("echo 'D3"+height+"\n' > /dev/ttyUSB0", function (error, stdout, stderr) {
  				console.log('stdout: ' + stdout);
  				console.log('stderr: ' + stderr);
  				if (error !== null) {
  					console.log('exec error: ' + error);
  				}
  				});
  			exec("echo 'D1"+gender+"\n' > /dev/ttyUSB0", function (error, stdout, stderr) {
  				console.log('stdout: ' + stdout);
  			  console.log('stderr: ' + stderr);
  			  if (error !== null) {
  			    console.log('exec error: ' + error);
  			  }
  				});
  				// after exec, go to selectDevices view:
  				window.location = "http://127.0.0.1:3000/selectDevices";
  		}
		}

		function resetVariables() {
			exec("echo 'Q\n' > /dev/ttyUSB0", function (error, stdout, stderr) {
			console.log('stdout: ' + stdout);
			console.log('stderr: ' + stderr);
			if (error !== null) {
				console.log('exec error: ' + error);
			}
			});
		}

</script>

<style>
.jumbotron {
  background-color: rgba(255, 255, 255, 0.4);
	color: #51514E;
	border-bottom: 5px solid #3C4145;
	font-weight: bold;
  width: 100%;
}
.userData {
	text-align: center;
	width: 30%;
}
.userData .row {
	text-align: center;
}
#sendData, #cancel {
	width: 100%;
	height: 60px;
	font-size: 14px;
	color: #fff;
	margin-left: 40%;
}
#cancel {
	margin-right: 30%;
	margin-left: 0;
	padding-top: 5%;
}
#sendData {
	margin-top: 0px;
	padding: 0px;
}
.mif-chevron-thin-left, .mif-chevron-thin-right {
	font-size: 25px;
}
#age, #height {
	height: 80px;
}
.input-control.text {
	width: 100%;
	margin-top: 15%;
	font-size: 20px;
}
.button {
	width: 49.5%;
	margin-top: 3%;
	height: 80px;
}
.group-of-buttons {
	height: 80px;
	margin-top: 15%;
	width: 100%;
}
.group-of-buttons .button {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.group-of-buttons .button.active, .group-of-buttons .toolbar-button.active {
    background-color: #F3E24F;
    color: #000;
		box-shadow: none;
}
.gender .button {
	height: 70px;
}
.keypad {
	position: relative !important;
}
.keypad .key {
	width: 70px;
	height: 70px;
}
.next {
	background: none;
	border: none;
	margin: 0px;
}
.input-control.required input {
	border: none;
}
</style>
</body>
</html>
