<!DOCTYPE html>

<html>

<head>
  <title>Mittalaitteen ohjeet</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/UIstyle.css">
  <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
  <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<body id="grad" onload="editData()">
<center class="container">
	<div>
    <div class="row">
		    <div class="col-md-4 image-instr"><img src="/images/kehonkoostumus.png"></div>
        <div class="col-md-8">
          <ol>
            <li>Ota kengät ja sukat pois.</li>
            <li>Astu laitteelle ensimmäisen kuvan osoittamalla tavalla.</li>
            <li>Tartu kapuloihin, kun laitteen näytössä lukee "GRIP ON".</li>
            <li>LASKE kädet sivulle ja odota, että laite suorittaa mittaukset.</li>
            <li>Kun laitteen näytössä lukee "GRIP OFF", laita kapulat takaisin telineisiin.</li>
            <li>Astu pois laiteelta.</li>
            <li>Tulosten laskemisessa kestää noin N sekuntia.</li>
         </ol>
       </div>
    </div>
	</div>
</center>

<script>
var electron = require("electron");
var fs = require("fs");
var remote = electron.remote;
var index = remote.require("./index.js");
var measumentEnded = index.measumentEnded;
var exec = require('child_process').exec;

function editData() {
  exec("/home/kuutio/Työpöytä/electron_demo/scripts/edit_data",function (error, stdout, stderr) {
  console.log('stdout: ' + stdout);
  console.log('stderr: ' + stderr);
  if (error !== null) {
    console.log('exec error: ' + error);
    }
  });
};
// check if the file exists asyncronously:
setInterval( function() {
  fs.stat('/home/kuutio/mittauskuutio/all_data.txt', (error, file) => {
        if (!error && file.isFile()) {
          fs.readFile('/home/kuutio/mittauskuutio/all_data.txt', 'utf8', function (err, data) {
            if (err) {
              return console.log(err);
            }
            window.location = "http://127.0.0.1:3000/results";
            measumentEnded();
          });
        }
        if (error && error.code === 'ENOENT') {
          //return resolve(false);
        }
      });
}, 5000);
</script>

<style>
  body {
    height: 990px;
  }
  .container {
    width: 86%;
    height: 90%;
    /*margin: 2% 0 2% 2%;*/
    margin: 3% auto;
  }
  }
   ol  {
     padding-top: 10%;
     width: 100%;
     height: 900px;
   }
  ol li {
    font-size: 40px;
    font-weight: bold;
    height: 11%;
    text-align: left;
    line-height: normal;
  }
  img {
    height: 79%;
  }
  .image-instr {
      width: 25%;
  }
</style>
</body>
</html>
