<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Mittauskuutio!</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
    <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body id="grad">
    <div class="jumbotron">
      <h1>Welcome to Mittauskuutio!</h1>
      <h3>Please follow the instructions on the small screen</h3>
  </div>
  </body>

  <style>
    h1, h3 {
      text-align: center;
    }
  </style>
</html>
